
/* global */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: white;
    
    
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

h2,h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-stretch: wider;
    color: #117886;
    text-align: left;
    padding: 20px;
    filter: drop-shadow(5px 5px 5px #d6b7a5);
}

p{
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    padding: 20px;
    font-size: 14px;   
}

ul,ol{
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

main a {
    color: #117886;
    text-decoration: none;
}
main a:hover {
    background-color: #117886;
    color: white;
}
main a:link {
    color: #117886 40%;
}

/*utilities*/

.containter{
    width: 80%;

    /*trick to center elements!*/
    margin-right: auto;
    margin-left: auto;
}

/*header section*/
header{

    background-image: url(../Images/oceanview.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    
    color: white;
    width: 100%;
    height: 400px;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#name{
    font-family: 'Open Sans', sans-serif;
    font-stretch: wider;
    text-align: center, top;
    font-size: 70px;
    filter: drop-shadow(16px 16px 20px #000000);

}


#career, #address{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: left;
    font-stretch: wider;
    color:white;
    filter: drop-shadow(16px 16px 20px #000000);
    background-color: rgba(0, 92, 115, 0.3);
    border-radius: 100%;
    
    
}

#topbtn{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: left;
    color: white;
    filter: drop-shadow(16px 16px 20px #000000);
    background-color: #9b7159;
    border: 2px ridge #41383d; 
     
}
#topbtn:hover{
    text-decoration: none;
    color: #41383d;
    font-size: 35px;
   
}
#topbtn:link{
    text-decoration: none;
    color: white;
}

/*menu*/
nav.menu{
    background-image: url(../Images/seafoam3.jpg);
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
}
nav.menu a{
    color: #41383d;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    margin-right: 10px;
}
nav.menu a:hover{
    color: white;
}

/*icons*/
div.icons{
    
    font-size: 30px;
    width: 70px;
    height: 70px; 
    border-radius: 50%;
    color: #117886;
    filter: drop-shadow(5px 5px 5px #d6b7a5);
    
    
    

    /*making the icon flexible/movable*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

} 

div.design{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* Grid format for Our Services */
#gridS {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
 
}
#service{
    grid-column: 1/2;
    grid-row: 1/5;
    text-align: center;
    background-color: rgba(214,183,165,0.2);
 }
#note{
    grid-column: 1/2;
    grid-row: 1;
 }
 #s1{
    grid-column: 2/2;
    grid-row: 1;
 }
#s2{
    grid-column: 2/2;
    grid-row: 2;
 }
 #s3{
    grid-column: 2/2;
    grid-row: 3;
 }
 #s4{
    grid-column: 2/2;
    grid-row: 4;
 }

 /* Grid format for Web Design */
#gridW {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  #wdesign{
      grid-column: 2/2;
      grid-row: 1/4;
      text-align: center;
      background-color: rgba(214,183,165,0.2);
   }
  #laptop{
      grid-column: 2/2;
      grid-row: 2;
   }
   #wlist{
      grid-column: 2/2;
      grid-row: 2;
   }
  #w1{
      grid-column: 1/2;
      grid-row: 1;
   }
   #w2{
      grid-column: 1/2;
      grid-row: 2;
   }
   #w3{
      grid-column: 1/2;
      grid-row: 3;
   }
  

/* Projects.html & Contact.html design */
.projectsM {
    background-color: rgba(214,183,165,0.2);
}
#contactN{
    text-align: center;
}


/*footer*/

footer{
    background-image: url(../Images/seafoam3.jpg);
    font-size: 16px;
    color: #41383d;
    text-align: center;
}

nav.menu-footer{
    display: flex;
    justify-content: center;
}

nav.menu-footer a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

nav.menu-footer a:hover{
    color: white;
}
